<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn With Raihan</title>
  </head>
  <body>
    <!-- {{range .}}
      <ul>
        <li>{{.}}</li>
      </ul>
    {{end}} -->

    <h2>Todo</h2>

    {{range .}} {{if ne .Done true}}
    <ul>
      <li>{{.Name}}</li>
    </ul>
    {{end}} {{end}}

    <h2>Done</h2>

    {{range .}} {{if .Done}}
    <ul>
      <li>{{.Name}}</li>
    </ul>
    {{end}} {{end}}
  </body>
</html>
