<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn With Raihan</title>
  </head>
  <body>
    <!-- 
    eq Returns the boolean truth of arg1 == arg2
    ne Returns the boolean truth of arg1 != arg2
    lt Returns the boolean truth of arg1 < agr2
    le Returns the boolean truth of arg1 <= agr2
    gt Returns the boolean truth of arg1 > agr2
    ge Returns the boolean truth of arg1 >= arg2 
    -->

    <h3>Member {{.}}</h3>

    <!-- {{if .Member}}
    <h2>Welcome</h2>
    {{else}}
    <h2>Please sing up</h2>
    {{end}} -->

    {{if eq .Language "Bangla"}}
    <h2>Bangla</h2>
    {{else if eq .Language "Hindi"}}
    <h2>Hindi</h2>
    {{else}}
    <h2>Hello</h2>
    {{end}}
  </body>
</html>
